
<launch>

  <!--<arg name="value" default="0"/>-->
  <!--<arg name="webcam_num"/>-->
  <!--<param name ="device" value="$(arg webcam_num)" type="int"/>-->
  <!--<node pkg="clm_ros_wrapper" type="clm_ros_wrapper" name="clm_ros_wrapper" output="screen"></node>-->

   <!-- type="int"/> -->

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node pkg="clm_ros_wrapper" type="clm_ros_wrapper" name="clm_ros_wrapper" output="log"> 
	 <param name ="device_test" type ="int" value="0"/> 
  </node>

 <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="clm_ros_wrapper/face_image"/>
    <param name="autosize" value="true" />
  </node>

</launch>
